.uk-form
  fieldset(data-uk-margin='{"cls": "uk-margin-small-left"}')
    legend Search by Reach
    label Sources:
    select(name='source_id')
    label Indicator:
    select(name='indicator_id')
    label Modes:
    select(name='mode_id')
    button.uk-button.search-button Search
