.uk-form
  fieldset
    legend Rawdata result
      span &nbsp;
      span.rawdata-list-length None
      button.uk-button.reset-rawdatas Reset Results
    .rawdata-list-area(style='max-height:300px;overflow: auto;')
