dl.uk-definition-list.uk-description-list-horizontal
  dt Name
  dd= name
  dt Parent Category
  dd= parent

p
  button.edit-button(data-uk-tooltip, title='Edit Project')
    i.uk-icon-edit
  button.copy-button(data-uk-tooltip, title='Copy Project')
    i.uk-icon-copy
  button.destroy-button(data-uk-tooltip, title='Delete Project')
    i.uk-icon-trash-o
