each val, key in data
  td= val
td
  .uk-badge.uk-badge-success
    i.uk-icon-check
    i.uk-icon-asterisk
    i.uk-icon-spinner.uk-icon-spin
    i.uk-icon-warning
  .uk-badge.uk-badge-info
    i.uk-icon-check
    i.uk-icon-asterisk
    i.uk-icon-spinner.uk-icon-spin
    i.uk-icon-warning
