.uk-panel-badge
  div
    .uk-badge.uk-badge-success saved
    .uk-badge.uk-badge-info reached
  div.uk-margin-small-top
    i.uk-icon-asterisk
    span  ready&nbsp;
    i.uk-icon-spinner
    span  waiting&nbsp;
    i.uk-icon-warning
    span  failed&nbsp;
    i.uk-icon-check
    span  success&nbsp;

button.uk-button.save-button Upload
button.uk-button.fallback-button Fallback
button.uk-button.reset-button Reset

table.uk-table
  thead
    tr
    tr.uk-sortable(data-uk-sortable='{warp:true, handleClass:"order-handler"}')

  tbody
