h1 profile
#profile_indicator_view
.uk-grid.uk-grid-small
  .uk-width-1-4
    .uk-panel.uk-panel-box
      #profile_data_view
  .uk-width-2-4
    .uk-panel.uk-panel-box
      #profile_preview_view
  .uk-width-1-4
    .uk-panel.uk-panel-box
      #profile_option_view
