h3 profile preview
//- button.uk-button save components
#preview_breed
  #component_type
    //- img#text(src = 'images/text.png')
    .component-box
      i#text.uk-icon-large.uk-icon-file-text-o
    //- img#chart(src = 'images/chart.png')
    .component-box
      i#chart.uk-icon-large.uk-icon-bar-chart-o
    //- img#table(src = 'images/table.png')
    .component-box
      i#table.uk-icon-large.uk-icon-table
    .component-box
      i#buttongroups.uk-icon-large.uk-icon-cog
  #components
    .ui-components
      ul.ui-components-list.uk-panel.uk-panel-box
          li.placeholder add your components here
