nav.uk-navbar.uk-margin-bottom
  //- a.uk-navbar-brand(href='#') CAM
  ul.uk-navbar-nav
  .uk-navbar-content
  .uk-navbar-content
  .uk-navbar-content.uk-navbar-flip.uk-hidden-small
    .uk-button-group
      a.uk-button(href='#logout')
        i.uk-icon-sign-out
      //- button.uk-button(href='#')
      //-   i.uk-icon-folder-o
      //- button.uk-button.uk-button-danger Button
