h1 Category Manage
p
  button.add-button(data-uk-tooltip, title='New Project')
    i.uk-icon-plus
.uk-grid
  .uk-width-1-3
    .uk-panel.uk-panel-box
      h2.uk-panel-title Category Name
      ul.list-area.uk-nav.uk-nav-side.uk-scrollable-box
  .uk-width-2-3
    .uk-panel.uk-panel-box
      h2.uk-panel-title Category Detail
      .show-add-edit-area
