.uk-form.uk-clearfix.input-fixed
  button.uk-float-left.uk-button.uk-button-success.get-profile Try
  button.uk-float-left.uk-button.add-var Add Variable
  select.uk-float-left(name='indicator_id', style='width:300px;')
    option please choose a indicator
    option renkou

  button.uk-float-left.uk-button.save-profile Save Profile
  select.uk-float-left(name='profile_id', style='width:300px;')
    option you can create a profile from another indicator

  button.uk-float-left.uk-button.preview-profile-in-client Preview Profile In Client
