h3 options

p
  .uk-badge Tip:
  small &nbsp;key F11 fullscreen, key ESC return back
button.uk-button.save-option save
button.uk-button.beautify-option beautify
button.uk-button.copy-option copy
button.uk-button.fullscreen
  i.uk-icon-arrows-alt
