h3 profile data

//- button.uk-button save variables
ul(data-uk-switcher='{connect:"#my-id"}').uk-subnav.uk-subnav-pill
  li
    a(href='') Form
  li
    a(href='') Text
ul#my-id.uk-switcher
  li
    #editor_holder
  li
    #editor_holder_json
      button.uk-button.beautify-option beautify variables
      button.uk-button.fullscreen
        i.uk-icon-arrows-alt
