div
  table.uk-table.uk-table-hover.uk-table-striped.fixed-width
    colgroup
      col
      col
      col
      col
      col
      col
      col
      col
      col
      col
    thead
      tr
        th.lb 類別
        th.zb 指標
        th.ms 模式
        th.period 週期
        th.xf 細分
        th.source 來源
        th.publisher 發佈者
        th.dataTime 數據時間
        th.updateTime 最後更新時間
        th 最後更新用戶
    tbody
