.uk-form.uk-nestable-item.uk-clearfix
  .uk-nestable-handle
  div(data-nestable-action="toggle")
  span= name
  button.uk-button.uk-button-mini.move-to-top-button.uk-float-right
    i.uk-icon-angle-double-up
