h1 Meta
.uk-form
  fieldset(data-uk-margin='{"cls": "uk-margin-small-left"}')
    legend Order
    select(name='table')
      option(value='') Please select a table
      option columns
      option modes
      option categories
      option indicators
      option sources
      option templates
    button.uk-button.save-order-button Save Order

br
#meta-list-view.uk-margin-small-top

