h1 Column+Mode Manage
.uk-grid
  .uk-width-1-4
    .uk-form
      fieldset(data-uk-margin='{"cls": "uk-margin-small-left"}')
        legend query and create
        label Mode:
        select(name='mode_id')
        label Column:
        select(name='column_id')
        button.uk-button.create-button
          i.uk-icon-plus
        button.uk-button.query-button
          i.uk-icon-search
  .uk-width-3-4
    table.uk-table
      thead
        tr
          th Mode
          th Column
          th Action
      tbody.raw-table
