dl.uk-definition-list.uk-description-list-horizontal
  dt 指標名稱
  dd
    input.uk-width-1-1(type='text', name='name', value=name)
  dt 指標定義參考
  dd
    textarea.uk-width-1-1(name='description')=description
  dt 單位
  dd
    input.uk-width-1-1(type='text', name='unit', value=unit)

p
  button.save-button(data-uk-tooltip, title='Save Project')
    i.uk-icon-save
  button.cancel-edit-button(data-uk-tooltip, title='Cancel Edit Project')
    i.uk-icon-stop
