dl.uk-definition-list.uk-description-list-horizontal
  dt 指標名稱
  dd= name
  dt 指標定義參考
  dd= description
  dt 單位
  dd= unit

p
  button.edit-button(data-uk-tooltip, title='Edit Project')
    i.uk-icon-edit
  button.copy-button(data-uk-tooltip, title='Copy Project')
    i.uk-icon-copy
  button.destroy-button(data-uk-tooltip, title='Delete Project')
    i.uk-icon-trash-o
